.hero-container{
    @include container;
    .hero{
        @include padding25;
        @include div-width;
        @include d-flex-center;
        .sec1{
            width: 100%;
            h4{
                color: $azul;
                font-weight: 800;
            }
            .sec1-img{
                width: 100%;
                min-height: 50vh;
                background-color: $negro;
            }
            
        }
    }
}