// COLORES
$negro: #191919;
$blanco: #f0f0f0;

$verde: #4A7C59;
$rojo: #A4031F;
$azul: #145C9E;


$beige: #f9f0eb;
$celeste: #97cfec;
$amarillo: #ffe8c0;

// SATURADOS
$verdeFuerte: #37d38d;

// baja opacidad
$negro50: #2f31309f;
$blanco50: #fffdfabe;

// FONT WEIGHT
$thin: 100;
$extraLight : 200;
$light : 300;
$regular : 400;
$medium : 500;
$semiBold : 600;
$bold : 700;
$extraBold : 800;
$black : 900;



// MIXIN

// contenedor
@mixin container {
    width: 100vw;
}

// contenido div
@mixin div-width {
    width: 100%;
    max-width: 1080px;
    margin: auto;
}


// Padding
@mixin padding25{padding: 25px;}
@mixin padding15{padding: 20px;}
@mixin padding10{padding: 10px;}
@mixin padding5{padding: 5px;}

// Margin
@mixin margin25{margin: 25px;}
@mixin margin15{margin: 20px;}
@mixin margin10{margin: 10px;}
@mixin margin5{margin: 5px;}

// index
@mixin z-index{
    position: relative;
}


// Flex center 
@mixin d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Flex center column
@mixin d-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Flex 
@mixin d-flex-between{
    display: flex;
    justify-content: space-between;
}


// Animations
@mixin animation-all-ease{transition: all .3s ease;}
