// COLORES
$negro: #2f3130;
$blanco: #fffdfa;
$celeste: #97cfec;
$rosa: #ffb3bd;
$verde: #d6ead8;
$amarillo: #ffe8c0;
// SATURADOS
$azul: #0b91d6;
$verdeFuerte: #37d38d;

// baja opacidad
$negro50: #2f31309f;
$blanco50: #fffdfabe;

// FONT WEIGHT
$thin: 100;
$extraLight : 200;
$light : 300;
$regular : 400;
$medium : 500;
$semiBold : 600;
$bold : 700;
$extraBold : 800;
$black : 900;



// MIXIN
@mixin d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin d-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// contenedor
@mixin container {
    width: 100vw;
}


// contenido div
@mixin div-width {
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

@mixin padding{
    padding: 25px;
}